In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Spotify Data Unclean.csv')

In [3]:
df['min_sec_played'] = df['ms_played'] / 60000

In [4]:
df['Year'] = pd.to_numeric(df['ts'].str.slice(0, 4))

In [5]:
df['sum_artist_mins_played'] = df.groupby('Artist Name')['min_sec_played'].transform('sum')
df['Overall Rank'] = df['sum_artist_mins_played'].rank(method='dense', ascending=False).astype('int64')

In [6]:
df = df.groupby(['Overall Rank', 'Artist Name', 'Year'])['min_sec_played'].sum().reset_index()
df['Year Rank'] = df.groupby('Year')['min_sec_played'].rank(method='dense', ascending=False)

In [7]:
df = df[df['Overall Rank'] < 101]

In [8]:
df = df.pivot(['Overall Rank', 'Artist Name'], 'Year', 'Year Rank')

In [9]:
df

,Year,2015,2016,2017,2018,2019,2020,2021,2022
Overall Rank,Artist Name,,,,,,,,
1,Shinedown,1.0,7.0,4.0,14.0,66.0,23.0,366.0,335.0
2,Eminem,82.0,1.0,5.0,9.0,3.0,2.0,52.0,NaN
3,ONE OK ROCK,12.0,3.0,1.0,3.0,4.0,207.0,240.0,NaN
4,Five Finger Death Punch,333.0,4.0,3.0,2.0,6.0,4.0,100.0,NaN
5,Seether,4.0,6.0,24.0,118.0,34.0,49.0,135.0,NaN
...,...,...,...,...,...,...,...,...,...
96,Daddy Was a Milkman,NaN,NaN,NaN,NaN,14.0,30.0,33.0,NaN
97,Tinez Roots Club,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Trivium,397.0,94.0,74.0,36.0,42.0,NaN,805.0,NaN
99,LAST ALLIANCE,282.0,69.0,76.0,43.0,156.0,NaN,NaN,NaN
100,Miracle Of Sound,NaN,63.0,89.0,404.0,NaN,505.0,60.0,215.0